/* Tipografia usada */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap');

/* RESETEO GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* configuración del cuerpo de la pagina */
html, body {
  height: 100%;
}

body{
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    flex-direction: column;
}

main {
  flex: 1;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

/* encabezado principal */
.encabezado {
    background-image: url(imagenes/fondo.svg);
    background-position: center bottom;
    background-size: cover; 
    background-repeat: no-repeat;
    display: flex;
    align-items: center; 
    min-height: 40vh; 
    padding: 80px 0 0 0;
}

.logo {
    color: #e7e1e1;
    font-size: 26px;
    font-weight: 500;
    text-transform: uppercase;
}

/* Menu de navegacion superior */

.menu { 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
}

.menu .navegacion-principal ul li {
    position: relative; 
    float: left;
}

.menu .navegacion-principal ul li a {
    color: #f5f5f5;
    font-size: 18px;
    padding: 15px 20px;
    display: block;
    font-weight: 500;
}

.menu .navegacion-principal ul li a:hover {
    color: #040404;
    transition: 0.3s;
}

#menu {
    display: none;
}

.menu label {
    cursor: pointer;
    display: none;
}

.menu-icono {
    width: 28px;
}

/* Presentacion y bienvenida */

.encabezado-content{ 
    display: flex; 
}

.encabezado-txt{ 
    width: 50%; 
}

.encabezado-txt h1{ 
    font-size: 70px; 
    line-height: 85px; 
    color: #1C1C1C; 
    margin-bottom: 30px; } 

.encabezado-txt span { 
    font-size: 80px; 
    color: #AA2B1D; 
} 

.encabezado-txt p{ 
    font-size: 16px; 
    color: #3a3a48; 
    margin-bottom: 30px; } 
    
.presentacion-img { 
    width: 50%; 
    text-align: right; 
} 
.presentacion-img img { 
    width: 550px; 
} 

.botones{ 
    display: flex; 
} 

.btn-1{ 
    display: inline-block; 
    padding: 13px 20px; 
    border: 1px solid #AA2B1D; 
    color: #AA2B1D; 
    border-radius: 15px; 
    margin-right: 30px; 
    font-size: 16px; 
    text-transform: capitalize; 
} 
    
.btn-1:hover{ 
    background-color: #AA2B1D; 
    color: #fbfcff; }

.top-menu{ 
    padding: 60px 0 100px 0; 
} 

h2{ 
    font-size: 50px; 
    color: #1f1f1f; 
    margin-bottom: 50px; 
} 

span{ 
    color: #AA2B1D; 
} 

/* Especialidades */
.platillos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    margin-top: 50px;
}


/*  Tarjeta de platillos: estilo general y hover  */
.p-tarjeta {
    background: linear-gradient(180deg, #E5D2B8, rgba(255,255,255,0.02));
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(28,28,28,0.12);
    overflow: hidden;
    transition: transform .16s ease, box-shadow .16s ease;
}

.p-tarjeta:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 30px rgba(28,28,28,0.22);
}

/*  Contenido  */
.p-tarjeta_txt {
    padding-bottom: 25px;
}

.p-tarjeta img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
}

.p-tarjeta_txt h3 {
    font-size: 18px;
    color: #1C1C1C;
    padding: 25px 25px 10px 25px;
}

.p-tarjeta_txt p {
    font-size: 16px;
    color: #3a3a48;
    padding: 0 25px 20px 25px;
}

/*  Precios y botón */
.precios {
    padding: 0 25px 10px 25px;
    display: flex;
    justify-content: space-between;
    color: #AA2B1D;
    font-size: 18px;
    font-weight: 600;
}

.btn-2 {
    display: inline-block;
    padding: 8px 12px;
    border-radius: 10px;
    background: #AA2B1D;
    color: #ffffff;
    font-weight: 700;
}

/* Destacados/ofertas */

.destacado {
    padding: 60px 0 100px 0;
}

.destacado-content {
    display: grid;
    grid-template-columns: 420px 1fr;
    gap: 40px;
    align-items: center;
}

.destacado-img img {
    width: 100%;
    height: auto;
    display: block;
}

.destacado-txt h2 {
    font-size: 40px;
    color: #1f1f1f;
    margin-bottom: 20px;
}

.destacado-txt p {
    font-size: 16px;
    color: #3a3a48;
    margin-bottom: 30px;
}

.destacado-btn {
    display: flex;
    align-items: center;
    gap: 25px;
}

.destacado-btn span {
    font-size: 60px;
    font-weight: 800;
    color: #AA2B1D;
}

/* Informacion general */
.info-section {
    padding: 0 0 100px 0;
}

.info-content {
    display: flex;
    align-items: center;
    gap: 50px;
}

.info-text {
    width: 50%;
}

.info-text h2 {
    margin-bottom: 15px; 
    color: #1f1f1f;
}

.info-text p {
    font-size: 16px;
    color: #3a3a48;
    margin-bottom: 25px; 
}

.info-img {
    width: 50%;
    text-align: right;
}
.info-img img {
    width: 100%;
    max-width: 550px;
    border-radius: 25px;
    display: block;
}

/* footer */

.footer {
  width: 100%;
  background: linear-gradient(180deg, #292933 0%, #26262b 100%);
  color: #f7f7f9;
  padding: 40px 0;
  margin-top: 60px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;       
  padding: 0 20px;      
  
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
}

/* Columnas */
.footer-txt,
.footer-datosAlumno,
.footer-links {
  flex: 1 1 260px;
}

/* Textos */
.footer h4 {
  margin-bottom: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.footer p {
  margin: 4px 0;
  color: #d9d9df;
  font-size: 14px;
}

/* Enlaces */
.footer-links a {
  color: #d9d9df;
  text-decoration: none;
  font-size: 14px;
}

.footer-links a:hover {
  color: #ffb40b;
}

/* Seccion menu completo */

.titulo-menu{ 
    width: 50%; 
}

.titulo-menu h1{ 
    font-size: 70px; 
    line-height: 85px; 
    color: #1C1C1C; 
    margin-bottom: 30px; } 

.titulo-menu span { 
    font-size: 80px; 
    color: #AA2B1D; 
} 

.titulo-menu p{ 
    font-size: 20px; 
    color: #3a3a48; 
    margin-bottom: 30px; } 

.platos-principales h2{
    font-size: 50px; 
    line-height: 65px; 
    color: #1C1C1C; 
    margin-bottom: 30px; 
}

/* Secciones del menú */
.seccion-menu {
    margin-top: 90px;
    padding-top: 40px;
    border-top: 3px solid #E5D2B8;
}

.seccion-menu h2 {
    font-size: 48px;
    color: #1C1C1C;
    margin-bottom: 40px;
}

.seccion-menu h2 span {
    color: #AA2B1D;
    font-weight: 800;
}

.seccion-menu .platillos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
}

/* Botones de promociones y reservaciones */
.btn-action {
    display: inline-block;
    margin: 15px 25px;
    padding: 10px 18px;

    background-color: #AA2B1D;
    color: #ffffff;

    font-size: 16px;
    font-weight: 700;
    text-align: center;
    border-radius: 12px;

    border: 1px solid #AA2B1D;
    transition: 0.3s ease;
}

.btn-action:hover {
    background-color: transparent;
    color: #AA2B1D;
    border-color: #AA2B1D;
    cursor: pointer;
}


/*Seccion Galeria*/

.galeria-page {
  padding-top: 40px;
  padding-bottom: 60px;
}

/* Títulos */
.galeria-titulo {
  font-size: 60px;
  text-align: center;
  margin-bottom: 10px;
  color: #1b1b22;
}

.galeria-intro {
  text-align: center;
  font-size: 25px;
  color: #4a4a56;
  max-width: 700px;
  margin: 0 auto 40px auto;
}

.galeria-subtitulo {
  font-size: 28px;
  margin: 60px 0 15px;
  font-weight: 700;
  color: #26262e;
  position: relative;
}

.galeria-subtitulo::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background-color: #AA2B1D;
  border-radius: 4px;
  margin-top: 8px;
}

/* Imagenes de la galeria */

.galeria-img {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 22px;
  margin-top: 25px;
}

/* Tarjetas */
.galeria-item {
  overflow: hidden;
  border-radius: 14px;
  background: #ffffff;
  box-shadow: 0 4px 14px rgba(0,0,0,0.15);
  transition: transform .25s ease, box-shadow .25s ease;
  text-align: center;
}

.galeria-item:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 22px rgba(0,0,0,0.22);
}

/* Imágenes */
.galeria-item img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 14px;
  transition: transform .35s ease;
}


.galeria-item:hover img {
  transform: scale(1.07);
}


/* Descripción debajo de cada imagen en galería */
.galeria-item figcaption {
    font-size: 16px;         
    color: #3a3a48;          
    padding: 12px 18px 18px; 
    line-height: 1.45;       
    text-align: left;        
}

/* seccion  sobre nosotros */
.nosotros-page {
    padding: 60px 0;
}

.nosotros-titulo {
    font-size: 42px;
    font-weight: 700;
    color: #1f1f2e;
    margin-bottom: 15px;
}

.nosotros-intro {
    max-width: 850px;
    font-size: 17px;
    color: #3a3a48;
    line-height: 1.6;
    margin-bottom: 45px;
}
/* historia del restaurante */
.historia-seccion {
    background-color: #fafafa;
    padding: 50px 40px;
    border-radius: 12px;
    margin-bottom: 60px;
    border-left: 5px solid #AA2B1D; 
}

.historia-contenido {
    display: flex;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;
}

.historia-texto {
    flex: 1 1 450px;
}

.historia-texto h2 {
    font-size: 30px;
    color: #1f1f2e;
    margin-bottom: 15px;
}

.historia-texto p {
    font-size: 16px;
    color: #3a3a48;
    line-height: 1.6;
    margin-bottom: 18px;
}

.historia-imagen {
    flex: 1 1 380px;
}

.historia-imagen img {
    width: 100%;
    border-radius: 14px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.12);
}

/* valores del restaurante */

.valores-seccion {
    margin-top: 60px;
    margin-bottom: 60px;
}

.valores-seccion h2 {
    font-size: 32px;
    color: #1f1f2e;
    margin-bottom: 25px;
}

.valores-contenido {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.valor-card {
    flex: 1 1 calc(33.3% - 20px);
    background-color: #ffffff;
    padding: 25px 25px 30px;
    border-radius: 14px;
    border: 1px solid #ececec;
    box-shadow: 0 3px 8px rgba(0,0,0,0.08);
    transition: transform 0.3s ease;
}

.valor-card:hover {
    transform: translateY(-5px);
}

.valor-titulo {
    font-size: 22px;
    margin-bottom: 10px;
    color: #c62828;
}

/* imagen final */

.imagen-final-nosotros img {
    width: 100%;
    margin-top: 40px;
    border-radius: 14px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.12);
}

/* RESPONSIVE (MÓVIL)*/ 

@media (max-width: 850px) {

    /* Ajustes generales */
    .container {
        padding: 0 20px;
    }

    /* ===== Ajustes para el menú en móvil ===== */
    .menu {
    padding: 10px 20px;
    }

    .menu label {
        display: flex;
        align-items: center;
        margin-left: px;
    }

    .menu-icono {
        width: 38px;
    }

    /* Ocultar menú en móvil */
    .navegacion-principal ul {
        position: fixed;
        top: 70px;
        left: -100%;
        width: 70%;
        height: 100vh;
        background: #1c1c1c;
        padding: 40px 30px;
        transition: all .4s ease;
        flex-direction: column;
    }

    .navegacion-principal ul li {
        margin-bottom: 25px;
    }

    .navegacion-principal ul li a {
        color: #fff;
        font-size: 20px;
    }

    
    #menu:checked ~ .navegacion-principal ul {
        left: 0;
    }

    /* ====== ENCABEZADO ====== */
    .encabezado {
        padding-top: 120px;
        text-align: center;
    }

    .encabezado-content {
        flex-direction: column;
        text-align: center;
    }

    .encabezado-txt {
        width: 100%;
    }

    .encabezado-txt h1 {
        font-size: 45px;
        line-height: 55px;
    }

    .encabezado-txt span {
        font-size: 55px;
    }

    .presentacion-img {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }

    .presentacion-img img {
        width: 85%;
    }

    .botones {
        justify-content: center;
    }

    /* ====== GRID DE PLATILLOS ====== */
    .platillos,
    .seccion-menu .platillos {
        grid-template-columns: repeat(1, 1fr);
    }

    /* ====== DESTACADO ====== */
    .destacado-content {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .destacado-btn {
        justify-content: center;
    }

    /* ====== INFO GENERAL ====== */
    .info-content {
        flex-direction: column;
    }

    .info-text, .info-img {
        width: 100%;
        text-align: center;
    }

    .info-img img {
        width: 90%;
    }

    /* ====== FOOTER ====== */
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    /* ====== GALERÍA ====== */
    .galeria-subtitulo {
        text-align: center;
    }

    .galeria-subtitulo::after {
        margin-left: auto;
        margin-right: auto;
    }

    /* ====== NOSOTROS ====== */

    .historia-contenido {
        flex-direction: column;
    }

    .valores-contenido {
        flex-direction: column;
    }

    .valor-card {
        width: 100%;
    }

}





